.TypePicker {
  user-select: none;
  position: absolute;
  border: 1px solid grey;
  display: inline-block;

  &__button {
    border: none;
    display: block;
    background-color: rgb(131, 130, 130);
    width: 200px;
    height: 25px;
    text-align: left;
    padding-left: 10px;
  }

  &__list {
    position: absolute;
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: white;
    border: 1px solid grey;
    width: 200px;

    & li {
      font-size: 16px;
      padding-left: 10px;
      display: block;
      height: 25px;
    }

    & li:hover {
      background-color: rgb(194, 191, 191);
    }
  }

  &:nth-child(n) {
    position: relative;
    // top: 2px;
    
    left: 0;
    margin: 0;
    padding: 0;
    
    
  }
}